POSTGRES_USER=analitika
POSTGRES_PASSWORD=analitika
POSTGRES_DB=analitika
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+psycopg://analitika:analitika@localhost:5432/analitika

WB_API_BASE=https://statistics-api.wildberries.ru
WB_API_TIMEOUT=120
